/* * * 外部样式 * * */
body{
    background: url(../images/bg1.jpg) no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    border: none;
    overflow-x: hidden
}

#form1{
    position: absolute;
    width: 300px;
    min-width: 300px;
    height: 230px;
    min-height: 230px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    text-align: center;/*(让内容居中)*/
    border: 1px dashed black;/* 设置边框线 */
    background-color: cornflowerblue;\
    margin:0 auto/*居中*/
}